* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* FULL PAGE */
.page {
  min-height: 100vh;
  background: #cfe4e6; /* neeche ka color */
}

/* 🔴 TOP IMAGE */
.top-image {
  height: 38vh;               /* image sirf thoda sa */
  background-size: cover;
  background-position: center;
}

/* 🔵 CARD POSITION */
.card-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -50px;          /* 🔥 bas thoda sa touch image se */
  padding: 0 16px 40px;
}

/* WHITE CARD */
.card {
  width: 100%;
  max-width: 360px;
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* LOGO */
.logo {
  width: 150px;
  margin-bottom: -5px;
}

/* TEXT */
.card h2 {
  font-size: 20px;
  color: #0e4a63;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

/* INPUT */
/*.card input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}*/

/* CODE INPUT WRAPPER */
.code-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* INPUT */
.code-input input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}
/*
.code-input input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;   // 🔥 Text bada ho gaya
  font-weight: 500;
  color: #0E4A63;    // TruVish deep blue
  height: 20px;      // Box size same rakhta hai
}
*/
/* 🔵 TRUVISH FOCUS EFFECT */
.code-input:focus-within {
  border-color: #1aa6a6;  /* TruVish blue */
  box-shadow: 0 0 0 1px rgba(26, 166, 166, 0.4);
}

/* BUTTON */
.card button {
  width: 100%;
  padding: 12px;
  background: #1aa6a6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.card button:hover {
  background: #148c8c;
}

/* FOOTER */
.trusted {
  display: block;
  margin-top: 14px;
  font-size: 12px;
  color: #777;
}

/* LABEL */
.input-label {
  display: block;
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  color: #0e4a63;
  margin-bottom: 6px;
  padding-left:5px;
}
